<!DOCTYPE html>
<head>

</head>
<body>
    <h1>de_cbble Win Rate</h1>
    <h2>Struggling to win rounds on de_cbble? Here are our best resources!</h2>
    <h3>Unfortunately, these resources for de_cbble are likely out of date.</h3>
    <br>
    <h3>Workshop Maps:</h3>
    <p><a href="https://bit.ly/2XKGPOc" target="_blank">Yprac Cbble</a></p>
    <p><a href="https://bit.ly/2XLXn8n" target="_blank">Cbble Smokes by Dolnma</a></p>
    <p><a href="{{workshopLink}}" target="_blank">Most Popular Workshop Map In Last 7 Days</a></p>
    <br>
    <h3>YouTube Videos:</h3>
    <p>
        <span><a href="https://youtu.be/2GsyJ8fAUR4" target="_blank"><img height="138" width="246" src="https://bit.ly/33lVBvQ"></a></span>
        <span><a href="https://youtu.be/1o2nRuohR9U" target="_blank"><img height="138" width="246" src="https://bit.ly/2DiwEHm"></a></span>
        <span><a href="https://youtu.be/cZfwvb8hj84" target="_blank"><img height="138" width="246" src="https://bit.ly/2ONsDji"></a></span>
        <span>First result on YouTube search: <a href="{{youtubeLink}}" target="_blank"><img height="138" width="246" src="{{thumbnail}}"></a></span>
    </p>
</body>