<!DOCTYPE html>
<head>

</head>
<body>
    <h1>de_inferno Win Rate</h1>
    <h2>Struggling to win rounds on de_inferno? Here are our best resources!</h2>
    <br>
    <h3>Workshop Maps:</h3>
    <p><a href="https://bit.ly/37AjyTC" target="_blank">Yprac Inferno</a></p>
    <p><a href="https://bit.ly/2KRqvG0" target="_blank">Inferno Smokes</a></p>
    <p><a href="{{workshopLink}}" target="_blank">Most Popular Workshop Map In Last 7 Days</a></p>
    <br>
    <h3>YouTube Videos:</h3>
    <p>
        <span><a href="https://youtu.be/Zayplcn6eyU" target="_blank"><img height="138" width="246" src="https://bit.ly/2XIBqau"></a></span>
        <span><a href="https://youtu.be/w80opcgK21w" target="_blank"><img height="138" width="246" src="https://bit.ly/37CJONe"></a></span>
        <span><a href="https://youtu.be/DD_0iKQEj4k" target="_blank"><img height="138" width="246" src="https://bit.ly/35A1QOo"></a></span>
        <span>First result on YouTube search: <a href="{{youtubeLink}}" target="_blank"><img height="138" width="246" src="{{thumbnail}}"></a></span>
    </p>
</body>