<!DOCTYPE html>
<head>

</head>
<body>
    <h1>K/D Ratio</h1>
    <h2>Looking to bring up your K/D? Here are our best resources!</h2>
    <br>
    <h3>Articles:</h3>
    <p><a href="https://win.gs/34dYXT0" target="_blank">Red Bull: What Does It Take To Be The Best?</a></p>
    <p><a href="https://bit.ly/2D9ZVE3" target="_blank">Kill Ping: How To Get Better at CS:GO</a></p>
    <br>
    <h3>YouTube Videos:</h3>
    <p>
        <span><a href="https://youtu.be/wcER_rSfJpo" target="_blank"><img height="138" width="246" src="https://bit.ly/2ODi3vg"></a></span>
        <span><a href="https://youtu.be/7rgskH76ne8" target="_blank"><img height="138" width="246" src="https://bit.ly/2XT6oNj"></a></span>
        <span>First result on YouTube search: <a href="{{youtubeLink}}" target="_blank"><img height="138" width="246" src="{{thumbnail}}"></a></span>
    </p>
    <br>
    <h3><a href="/recommendations/{{steamID}}">View our full list of recommendations here!</a></h3>
    <br>
    <h3><a href="/profile/{{steamID}}">Return to profile page</a></h3>
</body>