<!DOCTYPE html>
<head>

</head>
<body>
    <h1>de_mirage Win Rate</h1>
    <h2>Struggling to win rounds on de_mirage? Here are our best resources!</h2>
    <br>
    <h3>Workshop Maps:</h3>
    <p><a href="https://bit.ly/2OkWTDm" target="_blank">Yprac Mirage</a></p>
    <p><a href="https://bit.ly/37D5rgo" target="_blank">Mirage Smokes by Dolnma</a></p>
    <p><a href="{{workshopLink}}" target="_blank">Most Popular Workshop Map In Last 7 Days</a></p>
    <br>
    <h3>YouTube Videos:</h3>
    <p>
        <span><a href="https://youtu.be/iFVeN-ddd28" target="_blank"><img height="138" width="246" src="https://bit.ly/2OlyZrl"></a></span>
        <span><a href="https://youtu.be/zkDUnSGOHtY" target="_blank"><img height="138" width="246" src="https://bit.ly/2QQ1mzx"></a></span>
        <span><a href="https://youtu.be/aNLUzVrxRsg" target="_blank"><img height="138" width="246" src="https://bit.ly/2QPZ6Iv"></a></span>
        <span>First result on YouTube search: <a href="{{youtubeLink}}" target="_blank"><img height="138" width="246" src="{{thumbnail}}"></a></span>
    </p>
</body>