<!DOCTYPE html>
<head>

</head>
<body>
    <h1>de_nuke Win Rate</h1>
    <h2>Struggling to win rounds on de_nuke? Here are our best resources!</h2>
    <br>
    <h3>Workshop Maps:</h3>
    <p><a href="https://bit.ly/2DczcGX" target="_blank">Yprac Nuke</a></p>
    <p><a href="{{workshopLink}}" target="_blank">Most Popular Workshop Map In Last 7 Days</a></p>
    <br>
    <h3>YouTube Videos:</h3>
    <p>
        <span><a href="https://youtu.be/KqsMw9PmquE" target="_blank"><img height="138" width="246" src="https://bit.ly/33lk0ln"></a></span>
        <span><a href="https://youtu.be/Jj4sWLZm7Fs" target="_blank"><img height="138" width="246" src="https://bit.ly/2OPGupA"></a></span>
        <span><a href="https://youtu.be/gI-y13XRU58" target="_blank"><img height="138" width="246" src="https://bit.ly/2OHTlK9"></a></span>
        <span>First result on YouTube search: <a href="{{youtubeLink}}" target="_blank"><img height="138" width="246" src="{{thumbnail}}"></a></span>
    </p>
    <br>
    <h3><a href="/recommendations/{{steamID}}">View our full list of recommendations here!</a></h3>
    <br>
    <h3><a href="/profile/{{steamID}}">Return to profile page</a></h3>
</body>