<!DOCTYPE html>
<head>

</head>
<body>
    <p>{{accountName}}</p>
    <img alt="Profile pic" src={{accountProfilePicture}} width=32 height=32></img>
    <p>Search for a player!</p>
    <form method="POST">
        <input name="search">
    </form>
    {% if searchName %}
        <p>{{searchName}}</p>
        <p>{{searchRating}}</p>
        <form method="POST">
            <input type="hidden" name="searchName" id="searchName" value={{searchName}}>
            <input type="submit" value="Add to dream team?">
        </form>
    {% elif searchResults %}
        <p>{{searchResults}}</p>
    {% endif %}
</body>