<!DOCTYPE html>
<head>

</head>
<body>
    <h2>{{accountName}}</h2>
    <img alt="Profile pic" src={{accountProfilePicture}} width=64 height=64></img>
    <h2>Your Stats:</h2>
    <p>K/D Ratio: {{userKillDeath}}</p>
    <p>Headshot Percent: {{userHeadshotPercent}} %</p>
    <p>Round Win Percent: {{userOverallWinPercent}} %</p>
    <p>Last Match K/D Ratio: {{userLastMatchKillDeath}}</p>
    <p>Favorite Map: {{userFavoriteMap}}</p>
    <p>Favorite Map Win Rate: {{userFavoriteMapWinRate}} %</p>
    <h2>Your Favorite Player:</h2>
    <p>{{userTeam}}</p>
    {% if userTeam %}
        <h3>{{userTeam}}'s Stats:</h3>
        <p>K/D Ratio: {{favoriteKillDeathRatio}}</p>
        <p>Headshot Percent: {{favoriteHeadshotPercent}} %</p>
        <p>Overall Win Rate: {{favoriteWinPercent}} %</p>
        <p>Last Match K/D Ratio: {{favoriteLastMatchKillDeathRatio}}</p>
        <p>{{userFavoriteMap}} Win Rate: {{favoriteFavoriteMapWinPercent}} %</p>
    {% endif %}
    <p>Search for a player!</p>
    <form method="POST">
        <input name="search">
    </form>
    {% if searchName %}
        <p>{{searchName}}'s Stats:</p>
        <p>K/D Ratio: {{searchKillDeathRatio}}</p>
        <p>Headshot Percent: {{searchHeadshotPercent}} %</p>
        <p>Overall Win Rate: {{searchWinPercent}} %</p>
        <p>Last Match K/D Ratio: {{searchLastMatchKillDeathRatio}}</p>
        <p>{{userFavoriteMap}} Win Rate: {{searchFavoriteMapWinPercent}} %</p>
        <form method="POST">
            <input type="hidden" name="searchName" id="searchName" value={{searchName}}>
            <input type="submit" value="Set as favorite player?">
        </form>
    {% elif searchResults %}
        <p>{{searchResults}}</p>
    {% endif %}
</body>