<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>
    <div class="pure-menu pure-menu-horizontal" style="background:maroon">
        {% if steamID != "nologin" %}
            <a href="/profile/{{steamID}}" class="pure-menu-heading pure-menu-link" style="background:maroon; color:lightgray">Profile</a>
        {% else %}
            <a href="/" class="pure-menu-heading pure-menu-link" style="background:maroon; color:lightgray">Login</a>
        {% endif %}
        <ul class="pure-menu-list">
            {% if steamID != "nologin" %}
                <li class="pure-menu-item"><a href="/friendSearch/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Compare With Friends!</a></li>
                <li class="pure-menu-item"><a href="/" class="pure-menu-link" style="background: maroon; color: lightgray">Log Out</a></li>
            {% endif %}
            <li class="pure-menu-item"><a href="/recommendations/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">All Recommendations</a></li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink1" class="pure-menu-link" style="background:maroon; color:lightgray">Maps</a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item"><a href="/de_cache Win Rate/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Cache</a></li>
                    <li class="pure-menu-item"><a href="/de_cbble Win Rate/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Cobblestone</a></li>
                    <li class="pure-menu-item"><a href="/de_dust2 Win Rate/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Dust 2</a></li>
                    <li class="pure-menu-item"><a href="/de_inferno Win Rate/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Inferno</a></li>
                    <li class="pure-menu-item"><a href="/de_mirage Win Rate/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Mirage</a></li>
                    <li class="pure-menu-item"><a href="/de_nuke Win Rate/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Nuke</a></li>
                    <li class="pure-menu-item"><a href="/de_overpass Win Rate/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Overpass</a></li>
                    <li class="pure-menu-item"><a href="/de_train Win Rate/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Train</a></li>
                    <li class="pure-menu-item"><a href="/de_vertigo Win Rate/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Inferno</a></li>
                </ul>
            </li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink2" class="pure-menu-link" style="background:maroon; color:lightgray">Other Tips</a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item"><a href="/K/D Ratio/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">K/D Ratio</a></li>
                    <li class="pure-menu-item"><a href="/Headshot %/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Headshot %</a></li>
                    <li class="pure-menu-item"><a href="/Overall Win Rate/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Overall Win Rate</a></li>
                    <li class="pure-menu-item"><a href="/Last Match K/D Ratio/{{steamID}}" class="pure-menu-link" style="background:maroon; color:lightgray">Last Match K/D Ratio</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <h1>All Recommendations</h1>
    <h2>Looking for a specific skill to focus on? View our full list of tips here!</h2>
    <h3><a href="/K/D Ratio/{{steamID}}">K/D Ratio</a></h3>
    <h3><a href="/Headshot %/{{steamID}}">Headshot %</a></h3>
    <h3><a href="/Overall Win Rate/{{steamID}}">Overall Win Rate</a></h3>
    <h3><a href="/Last Match K/D Ratio/{{steamID}}">Last Match K/D Ratio</a></h3>
    <br>
    <h3><a href="/de_dust2 Win Rate/{{steamID}}">de_dust2 Win Rate</a></h3>
    <h3><a href="/de_inferno Win Rate/{{steamID}}">de_inferno Win Rate</a></h3>
    <h3><a href="/de_nuke Win Rate/{{steamID}}">de_nuke Win Rate</a></h3>
    <h3><a href="/de_mirage Win Rate/{{steamID}}">de_mirage Win Rate</a></h3>
    <h3><a href="/de_cache Win Rate/{{steamID}}">de_cache Win Rate</a></h3>
    <h3><a href="/de_overpass Win Rate/{{steamID}}">de_overpass Win Rate</a></h3>
    <h3><a href="/de_train Win Rate/{{steamID}}">de_train Win Rate</a></h3>
    <h3><a href="/de_vertigo Win Rate/{{steamID}}">de_vertigo Win Rate</a></h3>
    <h3><a href="/de_cbble Win Rate/{{steamID}}">de_cbble Win Rate</a></h3>
</body>