<!DOCTYPE html>
<head>

</head>
<body>
    <h1>All Recommendations</h1>
    <h2>Looking for a specific skill to focus on? View our full list of tips here!</h2>
    <h3><a href="/K/D Ratio/{{steamID}}">K/D Ratio</a></h3>
    <h3><a href="/Headshot %/{{steamID}}">Headshot %</a></h3>
    <h3><a href="/Overall Win Rate/{{steamID}}">Overall Win Rate</a></h3>
    <h3><a href="/Last Match K/D Ratio/{{steamID}}">Last Match K/D Ratio</a></h3>
    <br>
    <h3><a href="/de_dust2 Win Rate/{{steamID}}">de_dust2 Win Rate</a></h3>
    <h3><a href="/de_inferno Win Rate/{{steamID}}">de_inferno Win Rate</a></h3>
    <h3><a href="/de_nuke Win Rate/{{steamID}}">de_nuke Win Rate</a></h3>
    <h3><a href="/de_mirage Win Rate/{{steamID}}">de_mirage Win Rate</a></h3>
    <h3><a href="/de_cache Win Rate/{{steamID}}">de_cache Win Rate</a></h3>
    <h3><a href="/de_overpass Win Rate/{{steamID}}">de_overpass Win Rate</a></h3>
    <h3><a href="/de_train Win Rate/{{steamID}}">de_train Win Rate</a></h3>
    <h3><a href="/de_vertigo Win Rate/{{steamID}}">de_vertigo Win Rate</a></h3>
    <h3><a href="/de_cbble Win Rate/{{steamID}}">de_cbble Win Rate</a></h3>
    <h3>Favorite map missing or incorrect? Unfortunately, Valve hasn't <br>
        added any maps to CS:GO's API that weren't in the game at launch.
    </h3>
</body>