<!DOCTYPE html>
<head>

</head>
<body>
    <h1>Win Rate</h1>
    <h2>Need help closing out rounds?? Here are our best resources!</h2>
    <br>
    <h3>Articles:</h3>
    <p><a href="https://win.gs/2OBZl7i" target="_blank">Red Bull: Pistol Round Tips</a></p>
    <p><a href="https://bit.ly/2OeKLUd" target="_blank">Dignitas: Eco Round Tips</a></p>
    <p><a href="https://bit.ly/2QPmFB8" target="_blank">Upcomer: Understanding CS:GO's New Economy</a></p>
    <p><a href="https://bit.ly/2rokY2O" target="_blank">Reddit: Tips For Communication in PUGs</a></p>
    <p><a href=""></a></p>
    <br>
    <h3>YouTube Videos:</h3>
    <p>
        <span><a href="https://youtu.be/2g3gxkJNZqc" target="_blank"><img height="138" width="246" src="https://bit.ly/35GC8YH"></a></span>
        <span><a href="https://youtu.be/ur_kMtDp5lA" target="_blank"><img height="138" width="246" src="https://bit.ly/2qHIUOS"></a></span>
        <span>First result on YouTube search: <a href="{{youtubeLink}}" target="_blank"><img height="138" width="246" src="{{thumbnail}}"></a></span>
    </p>
    <br>
    <h3><a href="/recommendations/{{steamID}}">View our full list of recommendations here!</a></h3>
    <br>
    <h3><a href="/profile/{{steamID}}">Return to profile page</a></h3>
</body>